:root{
  --font-size-title: 46px;
  --font-size-score-text: 24px;
  --font-size-score-points: 30px;

  --font-size-giveUp: 42px;
  --font-color-giveUp: white;

  --font-color: rgba(187, 230, 0, 1);
  --btn-off-font-color: #8E9E8E;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("/src/fondo.jpg");
  font-family: "Arvo", sans-serif;
  color: var(--font-color);
}

.header-module{
  display: flex;
  justify-content: center;
}

.header-title{
font-size: var(--font-size-title);
}

.score-text {
  font-size: var(--font-size-score-text);
  margin-top: -60px;
}

.score-points{
  color:white;
  padding: 0 20px;
  font-size: var(--font-size-score-points);
  }

.play-btn{
  width: 180px;
  height: 36px;
  border-radius: 20px;
  margin: 0 10px;
  color: var(--font-color);
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
}

.play-btn:hover{
  background-color: aliceblue;
  color: black
}

.play-btn-off{
  width: 180px;
  height: 36px;
  border-radius: 20px;
  margin: 0 10px;
  color: var(--btn-off-font-color);
  font-size: 18px;
  font-weight: 500;
  background-color: black;
  cursor: pointer;
}

.game-board{
  display: flex;
  margin: 40px auto 0 auto;
  flex-direction: row;
  width: 60%;
}

.card-board{
  display: flex;
  justify-content: center;
  width: 100%;
}

.played-board{
  display: flex;
  justify-content: left;
  width: 100%;
}

.card {
  border-radius: 20px;
  margin: 0 40px;
}

.played-card {
  border-radius: 20px;
  margin-right: -170px;
  transform: rotate(10deg);
}

.give-up-panel-on{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 170px;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  border: 2px solid var(--font-color);
  text-align: center;
  font-size: var(--font-size-giveUp);
  color: var(--font-color-giveUp);
}

.give-up-panel-off{
  display: none;
}

.give-up-panel-on > p {
  font-size: var(--font-size-score-text);
}